a {
  color: $off-white;

  &:focus {
    text-decoration-style: double;
    outline: none;
    background: $off-black;
  }

  &:hover {
    background: $off-black;
  }
}

.label {
  color: $pop-dark2;
  margin: 0.5em 0 0;
  font-size: 0.8em;
  border-top: 1px solid $pop-light1;
}

.centered {
  text-align: center;
}

.centered-image {
  max-width: 90%;
  max-width: 300px;
}

.button {
  $pixel-border-size: 5px;

  text-align: center;
  padding: 7px 10px;
  font-size: 1em;
  font-family: $font;

  // THX https://codepen.io/darcy/pen/yGocb
  border-top-width: $pixel-border-size;
  border-bottom-width: $pixel-border-size;
  position: relative;
  border-left: 0;
  border-right: 0;


  &:before, &:after {
    content: '';
    width: $pixel-border-size;
    top: 0;
    height: 100%;
    position: absolute;
  }

  &:before {
    left: -$pixel-border-size;
  }

  &:after {
    right: -$pixel-border-size;
  }

  &:focus,
  &.focus {
    outline: none;
  }

  @include pixel-button-variation(blue);

  &.fatter {
    padding: 15px 20px;
  }

  &.dark {
    @include pixel-button-variation($off-black);
    color: $white;
  }

  &.pop {
    @include pixel-button-variation($pop);
  }
}
